<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">About Us</h5>
        <p>Saranya is a registered LIC agent with years of experience in helping individuals and families secure their future through comprehensive insurance solutions.</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'Home', root_path, class: 'text-light text-decoration-none' %></li>
          <li><%= link_to 'About', about_path, class: 'text-light text-decoration-none' %></li>
          <li><%= link_to 'Services', services_path, class: 'text-light text-decoration-none' %></li>
          <li><%= link_to 'Contact', contact_path, class: 'text-light text-decoration-none' %></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Contact Info</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-phone me-2"></i> +91 9688692294</li>
          <li><i class="fas fa-envelope me-2"></i> saranyamitra94@gmail.com</li>
          <li><i class="fas fa-map-marker-alt me-2"></i> Coimbatore, Tamil Nadu</li>
        </ul>
        <div class="social-links mt-3">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p class="mb-0">&copy; <%= Time.current.year %> LIC Agent Saranya. All rights reserved.</p>
    </div>
  </div>
</footer> 